@charset "UTF-8";
/*----------------------ОБНУЛЕНИЕ----------------------*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*-----------------------------------------------------*/
* {
  font-size: 1.8rem;
}

body {
  background-image: url("../img/bricks_white.svg");
  background-repeat: repeat;
  background-size: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
  background-color: #72727296;
  margin-bottom: 15px;
  position: relative;
}
header h1 {
  font-size: 3rem;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 80%;
          flex: 1 0 80%;
}

.menu {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 49%;
          flex: 1 1 49%;
  width: 95vw;
  background-color: rgba(165, 42, 42, 0.8);
  padding: 2.5%;
}
.list:first-child {
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  margin-bottom: 2.5%;
}
.list:last-child {
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
}

ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px;
}
ul:last-child {
  margin-bottom: 0;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 5vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8vh;
  margin-bottom: 2vh;
  width: 100%;
  position: relative;
  background-color: rgba(203, 156, 68, 0.6);
}
.item p {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 120px;
          flex: 0 0 120px;
}
.item .function {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 154px;
          flex: 0 0 154px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.item .function button {
  background-color: #fff;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  outline: red solid 2px;
}
.item .function input {
  width: 50px;
  text-align: center;
  border-radius: 6px;
}

footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
}